@import "tailwindcss";

/* 🌟 Global Styles */
:root {
  --primary-color: #e50914; /* Netflix Red */
  --primary-color-light: #e8222c; /* Light Red */
  --secondary-color: #1e1e1e; /* Dark Gray */
  --text-light: #ffffff;
  --text-dark: #020202;
  --background-dark: #121212;
  --background-light: #f9f9f9;
  --background-gray: #e0e0e0;
}

body {
  background-color: var(--background-light);
  color: var(--text-dark);
  max-width: 90vw;
  min-width: 10vw;
  margin: 0 auto;
  font-size: 1rem; /* Default text-base */
}

@media (min-width: 640px) {
  body {
    font-size: 0.875rem; /* sm:text-xs */
  }
}

@media (min-width: 768px) {
  body {
    font-size: 0.9375rem; /* md:text-sm */
  }
}

li {
  list-style: none;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

li:hover {
  background-color: var(--background-gray);
  /* color: var(--text-light); */
  cursor: pointer;
}

button {
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
