@import "tailwindcss";

/* 🌟 Global Styles */
:root {
  /* Light Theme */
  --background: #f4f4f4;
  --card: #ffffff;
  --text-primary: #18181b;
  --text-secondary: #52525b;
  --accent: #f59e0b;
  --accent-hover: #d97706;
  --accent-light: #fef3c7;
  --border: #e4e4e7;
  --muted: #f4f4f5;
  --disabled: #a1a1aa;
  --error: #dc2626;
  --success: rgb(30, 168, 60);
}

.dark {
  /* Dark Theme */
  --background: #121212;
  --card: #1e1e1e;
  --text-primary: #f9f9f9;
  --text-secondary: #d4d4d8;
  --accent: #f59e0b;
  --accent-hover: #d97706;
  --accent-light: #78350f;
  --border: #27272a;
  --muted: #3f3f46;
  --disabled: #52525b;
  --error: #f87171;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--text-primary);
    border-right-color: var(--text-primary);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--text-primary);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  max-width: 90vw;
  /* min-width: 10vw; */
  margin: 0 auto;
  font-size: 1rem; /* Default text-base */
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
li {
  list-style: none;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

li:hover {
  background-color: var(--accent-hover);
  color: var(--text-primary);
  cursor: pointer;
}

button {
  cursor: pointer;
}
