@import "tailwindcss";

/* 🌟 Global Styles */
:root {
  --background-light: #f9f9f9; /* Light Gray */
  --background-white: #ffffff; /* Pure White */
  --text-dark: #1e1e1e; /* Almost Black */
  --text-gray: #4a4a4a; /* Dark Gray */
  --primary-color: #e50914; /* Netflix Red */
  --secondary-color: #ff9800; /* Orange */
  --accent-blue: #007aff; /* iOS Blue */
  --border-light: #e0e0e0; /* Light Border */
  --background-gray: #e0e0e0;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--text-dark);
    border-right-color: var(--text-dark);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--text-dark);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

body {
  background-color: var(--background-light);
  color: var(--text-dark);
  max-width: 90vw;
  min-width: 10vw;
  margin: 0 auto;
  font-size: 1rem; /* Default text-base */
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
li {
  list-style: none;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}

li:hover {
  background-color: var(--background-gray);
  /* color: var(--text-light); */
  cursor: pointer;
}

button {
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}
